@import './list_of_elements.scss';

$sans-serif-fonts: Verdata, sans-serif;

.kio-batman-canvas {
  display: block;
  margin: 0 auto;
}

.kio-batman-values-list {
  input {
    margin-right: 1em;
    text-align: center;
  }

  span {
    margin-right: 0.2em;
  }
}

.kio-batman-initial-values-list, .kio-batman-intermediate-values-list {
  margin: 0.4em 0 0.4em 1em;
  font-family: $sans-serif-fonts;

  input {
    font-family: $sans-serif-fonts;
    font-size: 1em;
    text-align: center;
    margin: 0 0.4em;
    border: 1px solid black;
  }

  select {
    padding: 0 0.4em;
    margin-left: 0.4em;
    font-family: $sans-serif-fonts;
    font-size: 1em;
  }
}

@import "./slider.scss";
