.kio-batman-list-of-elements {

  font-family: $sans-serif-fonts;

  margin-top: 0.4em;
  .item {
    margin: 0.2em 0;

    .left {
      display: inline-block;
    }

    .right {
      display: inline-block;
      margin-left: 1em;
    }
  }

  .controls {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #3447de;
    //font-weight: bold;
  }
}