.kio-batman-time-controls {

  width: 100%;
  font-family: $sans-serif-fonts;
  font-weight: bold;

  .buttons-and-time-container {
    position: relative;
    text-align: center;
    .buttons-container {
      display: inline-block;
    }

    .time-info {
      position: absolute;
      bottom: 0;
      margin-left: 1em;
    }
  }

  .range-container {
    height: 18px;
    padding: 9px 0 0 0;
  }

  .rangeslider,
  .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .rangeslider {
    background: #e6e6e6;
    position: relative;
    width: 100%;
  }

  .rangeslider--horizontal {
    height: 4px;
    width: 100%;
  }

  .rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  .rangeslider__fill {
    background: #ff310f;
    position: absolute;
  }
  .rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
  }
  .rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
  }

  .rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width:60px;
    height:18px;
    background: url(batman-resources/fly1.png) center no-repeat;
  }
  .rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
    border: 1px solid #ff310f;
    padding: 4px;
    margin-left: -5px;
    margin-top: -5px;
  }
  .rangeslider--horizontal .rangeslider__handle {
    top: -7px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
  }

  input[type="range"]:focus + .rangeslider .rangeslider__handle {
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  }
}