.kio-batman-time-controls {

  width: 100%;
  font-family: $sans-serif-fonts;
  font-weight: bold;
  margin: 0.4em 0;

  .buttons-and-time-container {
    position: relative;
    text-align: center;
    .buttons-container {
      display: inline-block;
    }

    .time-info {
      position: absolute;
      bottom: 0;
      margin-left: 1em;
    }
  }
}